
<div class="p-5 w-80 flex flex-col items-center bg-white bg-opacity-10 text-white rounded-2xl shadow-5xl border-2 border-t-0 border-l-0 border-white/25">
<h2>Forgot your password?</h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field flex flex-col">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "text-black" %>
  </div>

  <div class="actions">
    <%= f.submit "Send me reset password instructions", class: "cursor-pointer my-8 bg-white bg-opacity-10 text-white rounded-2xl shadow-5xl border-2 border-t-0 border-l-0 border-white/25 p-2" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
</div>
