<section class="h-screen flex flex-col w-full max-w-3xl">
  <card
    class="relative flex items-center gap-8 bg-white bg-opacity-10 text-white rounded-2xl shadow-5xl border-2 border-t-0 border-l-0 border-white/25"
  >
    <%= image_tag(@user.photo, class: "w-24 md:w-48 rounded-l-2xl") %>
    <div class="py-2 flex h-24 w-80 justify-between">
      <h2 class="text-2xl md:text-4xl text-zinc-200"><%= @user.name %></h2>
      <br />
      <h4 class="text-zinc-200 self-end mr-4 md:mr-12">
        Number of posts: <%= @user.posts_counter %>
      </h4>
      <%= link_to "/users/#{@user.id}", remote: false do %>
        <span class="text-zinc-200 text-opacity-50 material-symbols-outlined text-xs absolute top-2 right-2">back arrow_back_ios</span>
      <% end %>
    </div>
  </card>
  <ul class="mt-8 flex justify-center flex-col text-zinc-200 bg-white bg-opacity-10 text-white rounded-md shadow-5xl border-2 border-t-0 border-l-0 border-white/25">
    <% @posts.each do |post| %>
      <li class="p-4 border-b border-gray-500 border-opacity-60 last:border-b-0 flex flex-col justify-center hover:bg-neutral-800 transition duration-300">
        <%= link_to "/users/#{@user.id}/posts/#{post.id}", remote: false do %>
        <card class="post-item">
          <div class="flex flex-col">
            <h2>Post <%= post.id %></h2>
            <p> <%= post.text %> </p>
            <div class="flex gap-8 justify-end">
              <h5 class="custom-card-p">Comments: <%= post.comments_counter %> </h5>
              <h5 class="custom-card-p">❤️ <%= post.likes_counter %> </h5>
            </div>
          </div>
        </card>
        <div class="mt-8">
          <% if post.comments.empty? %>
            <p class="text-sm text-zinc-200 text-opacity-50 italic"> No comments yet. </p>
          <% end %>
          <% post.last_five_comments.each do |comment| %>
            <p class="text-sm mt-2 ml-8"> <%= comment.author.name %>: <%= comment.text %> </p>
          <% end %>
        </div>
      <% end %>
      </li>
    <% end %>
  </ul>
  <button class="w-40 p-2 my-8 flex justify-center text-zinc-200 bg-white bg-opacity-10 text-white rounded-md shadow-5xl border-2 border-t-0 border-l-0 border-white/25 hover:scale-111 transition duration-300">
    <p class="m-auto">Pagination</p>
  </button>
</section>