<section class="w-full max-w-64 flex flex-col max-w-3xl">
  <card class="relative p-5 flex flex-col gap-6 bg-white bg-opacity-10 text-white rounded-2xl shadow-5xl border-2 border-t-0 border-l-0 border-white/25">
    <%= image_tag(@user.photo, class: "w-12 md:w-20 rounded-full") %>
    <%= link_to "/users/#{@user.id}/posts", remote: false do %>
      <span class="text-zinc-200 text-opacity-50 material-symbols-outlined text-xs absolute top-4 right-4">back arrow_back_ios</span>
    <% end %>    
  <div class="flex flex-col gap-4">
        <p>Post <%= @post.id %> by <%= @post.author.name %> </p>
        <p> <%= @post.text %> </p>
        <div class="flex gap-8 justify-end">
          <h5 class="">Comments: <%= @post.comments_counter %> </h5>
          <h5 class="">❤️ <%= @post.likes_counter %> </h5>
        </div>
      </div>
    <div class="">
      <% if @post.comments.empty? %>
        <p class="text-sm text-zinc-200 text-opacity-50 italic"> No comments yet. </p>
      <% end %>
      <% @post.comments.each do |comment| %>
        <p class="text-sm mt-2 ml-8"> <%= comment.author.name %>: <%= comment.text %> </p>
      <% end %>
    </div>
  </card>
</section>
